body{
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(246, 233, 233);
}
img{
    width: 35%;
}
.grid-item{
    background: url("../public/mars_v0.jpg");
    border-radius: 10%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.grid-container {
  display: grid;
  grid-gap:5px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  
}

.grid-container{
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
}